@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

@layer base{
  @font-face {
        font-family: 'hero';
        src: url('/fonts/HyperTrack.otf') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
}

.hero-img{
    animation: hero-img 2s ease-in-out infinite alternate;
}

@keyframes hero-img {
    0% {
    transform: translateY(0);
    
  }
  100% {
    transform: translateY(-30px);
    
  }
}